// Basic styling for comments.

ol.comments {
	> * + * {
		margin-top: 2rem;
	}

	li {
		article {

			header, section {
				padding-left: 1rem;
				border-left: .3rem solid var(--primary-color);

				date {
					font-size: var(--small-text);
				}

				h5 {
					margin: 0;
					padding-bottom: 1.05rem;
				}
			}

			section > * {
				&:last-child {
					margin-bottom: 0;
				}
			}

			footer {
				padding: 1rem;

				a {
					@extend .button;
					text-decoration: none;
					font-size: var(--small-text);
				}
			}
		}

		
	}
}


